alembic
aniso8601
attrs
bcrypt
blinker
certifi
charset-normalizer
click
colorama
Flask
Flask-Cors
Flask-JWT-Extended
Flask-Mail
flask-marshmallow
Flask-Migrate
flask-restx
Flask-Seeder
Flask-SQLAlchemy
greenlet
gunicorn
idna
itsdangerous
Jinja2
jsonschema
Mako
MarkupSafe
marshmallow
marshmallow-sqlalchemy
packaging
psycopg2-binary
PyJWT
pyrsistent
python-dotenv
pytz
requests
six
SQLAlchemy
sqlalchemy-mixins
urllib3
Werkzeug
